*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --t1-baseColor: #0033cc;
    --t2-baseColor: #cc0000;
    --background-color: #4d4d4d;
    --font-colorMain: #fff;
    --font-colorAccent: #000;
}

/* Theme Button Presets */
#single-themes #color1{
    background-color: #0033cc;
}

#single-themes #color2{
    background-color: #cc0000;
}

#single-themes #color3{
    background-color: #cc66ff;
}

#single-themes #color4{
    background-color: #ffccff;
}

#single-themes #color5{
    background-color: #4ddbff;
}

/* BG Button Presets */
#backgrounds #color1{
    background-color: #4d4d4d;
}

#backgrounds #color2{
    background-color: #99d6ff;
}

#backgrounds #color3{
    background-color: #c44dff;
}

#backgrounds #color4{
    background-color: #336699;
}

#backgrounds #color5{
    background-color: #ffccff;
}

/* Preset Theme Packs */
#presets #color1{
    background-image: 
    linear-gradient(to right, #99bbff 50%, #ffcccc 50%);
}

#presets #color2{
    background-image: 
    linear-gradient(to right, #ccff99 50%, #9494b8 50%);
}

#presets #color3{
    background-image: 
    linear-gradient(to right, #ff99cc 50%, #b3ecff 50%);
}

#presets #color4{
    background-image: 
    linear-gradient(to right, #ffbf80 50%, #d279d2 50%);
}

#presets #color5{
    background-image: 
    linear-gradient(to right, #336699 50%, #7300e6 50%);
}
/* Main CSS */
@keyframes mainAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

body{
    background-color:  hsl(from var(--background-color) h s l);
}

header{
    display: flex;
    justify-content: center;
    cursor: default;
    width: 100%;
}

main{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header h1{
    font-weight: 900;
    color: var(--font-colorMain);
    cursor: pointer;
    animation: mainAnim 0.55s 0s 1 normal forwards;
    animation-timing-function: linear(0, 0.395 7.7%, 0.703 15.9%, 0.924 24.7%, 1.002 29.3%, 1.062 34.2%, 1.096 38.3%, 1.119 42.6%, 1.13 47.2%, 1.131 52.1%, 1.11 61%, 1.019 85.1%, 1.004 92.4%, 1);
}

.initButtons{
    font-family: "Lexend", sans-serif;
    font-size: 1em;
    background-color: hsl(from var(--background-color) h s calc(l + 20));
    color: var(--font-colorMain);
    border: none;
    padding: 1em;
    border-radius: 15px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.29);
    cursor: pointer;
    animation: entranceAnim 0.85s 0s 1 normal forwards;
    animation-timing-function: linear(0, -0.018 6.1%, -0.1 17.7%, -0.123 22.4%, -0.125 27.3%, -0.098 31.7%, -0.017 37%, 0.122 42%, 0.308 46.5%, 0.807 56.1%, 0.959 60.6%, 1.06 65.3%, 1.115 70.4%, 1.127 73.2%, 1.127 76.2%, 1.104 81.7%, 1.017 94.1%, 1);
    transition: all 0.3s ease;
}

.initButtons:active{
    background-color: #bfbfbf;
    box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    scale: 0.9
}

#initGame{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 30px 30px 30px;
    gap: 10px;
}

#game-play{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    font-size: 1.6em;
    width: 100%;
}

@keyframes entranceAnim {
	0% {
		transform: scale(0);
        opacity: 0;
	}
    
	100% {
		transform: scale(1);
        opacity: 1;
	}
}

section.player-card{
    background-color: #d9d9d9;
    color: var(--font-colorMain);
    border-radius: 15px;
    width: 90vw;
    max-width: 355px;
    /* box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.55); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: entranceAnim 0.75s 0s 1 normal forwards;
    animation-timing-function: linear(0, -0.018 6.1%, -0.1 17.7%, -0.123 22.4%, -0.125 27.3%, -0.098 31.7%, -0.017 37%, 0.122 42%, 0.308 46.5%, 0.807 56.1%, 0.959 60.6%, 1.06 65.3%, 1.115 70.4%, 1.127 73.2%, 1.127 76.2%, 1.104 81.7%, 1.017 94.1%, 1)
}

#team-1{
    background-color: hsl(from var(--t1-baseColor) h s l);
    margin: 25px;
    filter: drop-shadow(0 0 10px hsl(from var(--t1-baseColor) h s l));
}

#team-2{
    background-color: hsl(from var(--t2-baseColor) h s l);
    margin: 25px;
    filter: drop-shadow(0 0 10px hsl(from var(--t2-baseColor) h s l));
    animation-duration: 0.7s;
    animation-timing-function: linear(0, -0.004 4.9%, -0.02 9.4%, -0.124 26.4%, -0.126 30.5%, -0.104 34.1%, -0.027 38.8%, 0.108 43.1%, 0.299 47%, 0.817 55.2%, 0.97 59.1%, 1.071 63.4%, 1.118 67.7%, 1.127 72.6%, 1.108 77.2%, 1.019 90.7%, 1.004 95.2%, 1);
}

.title{
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

svg{
    height: 15px;
    width: 15px;
    margin-top: 35px;
    margin-left: 5px;
}

.totalScore{
    background-color: #cccccc;
    border-radius: 15px;
    width: 75%;
    text-align: center;
    margin: 0;
    padding: 10px;
    cursor: default;
}

#team1-name, #team2-name{
    cursor: pointer;
    mix-blend-mode: normal ;
}

#team-1 .totalScore{
    background-color: hsl(from var(--t1-baseColor) h s calc(l + 15));
}

#team-2 .totalScore{
    background-color: hsl(from var(--t2-baseColor) h s calc(l + 20));
}

.score-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75em 0 0.75em 0;
    gap: 10px;
}

#kick-buttons{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#score-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.score-nav button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Lexend", sans-serif;
    cursor: pointer;
    font-size: 0.7em;
}

.score-nav button:active{
    background-color: #d9d9d9;
    box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    font-size: 0.65em;
}

.popup, .popup-error{
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #4BB543;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-family: 'Lexend', sans-serif;
    font-size: 1em;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 0.4s ease;
    z-index: 9999;
}

.popup-error{
    background-color: #ff1a1a;
}

.popup.show, .popup-error.show{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.auth-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    transform: translateY(0);
}

.modal-content {
    background-color: #fff;
    color: #333;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Lexend", sans-serif;
    align-items: center;
    animation: entranceAnim 0.4s ease-in-out 0s 1 normal forwards;
}

.modal-content input{
    font-family: 'Lexend', sans-serif;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
}

.acc-buttons button{
    font-family: "Lexend", sans-serif;
    background-color: #bfbfbf;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}

.cancel{
    font-family: "Lexend", sans-serif;
    background-color: #bfbfbf;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 75%;
    transition: all 300ms ease-in-out;
}

.cancel:active{
    background-color: #ff3333;
    border: none;
    box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
}

.acc-buttons button:active{
    background-color: #d9d9d9;
    border: none;
    box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 34px -25px rgba(0,0,0,0.75) inset;
}

.errorMsg{
    display: none;
    background-color: #ff6666;
    color: #990000;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
}

.button-box {
    width: 325px;
	margin: 10px auto;
	position: relative;
	border-radius: 30px;
	background: #fff;
    animation: entranceAnim 1s 0s 1 normal forwards;
    animation-timing-function: linear(0, -0.018 6.1%, -0.1 17.7%, -0.123 22.4%, -0.125 27.3%, -0.098 31.7%, -0.017 37%, 0.122 42%, 0.308 46.5%, 0.807 56.1%, 0.959 60.6%, 1.06 65.3%, 1.115 70.4%, 1.127 73.2%, 1.127 76.2%, 1.104 81.7%, 1.017 94.1%, 1);
}

.button-box button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.toggle-btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    animation: entranceAnim 1.05s ease-in-out 0s 1 normal forwards;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background: 
        hsl(from var(--background-color) h s calc(l - 5));
	border-radius: 30px;
	transition: .5s;
}

#points{
    color: white;
    display: none;
    background-color: hsl(from var(--background-color) h s calc(l + 20));
    padding: 5px 25px 5px 25px;
    border-radius: 15px;
    animation: entranceAnim 1.05s ease-in-out 0s 1 normal forwards;
    animation-timing-function: linear(0, -0.018 6.1%, -0.1 17.7%, -0.123 22.4%, -0.125 27.3%, -0.098 31.7%, -0.017 37%, 0.122 42%, 0.308 46.5%, 0.807 56.1%, 0.959 60.6%, 1.06 65.3%, 1.115 70.4%, 1.127 73.2%, 1.127 76.2%, 1.104 81.7%, 1.017 94.1%, 1);

}

#points h1{
    margin: 0;
    font-size: 2.5em;
}

#points span {
    color: var(--font-colorMain);

    background-image: linear-gradient(to right, var(--t1-baseColor), var(--t2-baseColor));

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

#t1-score{
    color:var(--t1-baseColor);
}

#t2-score{
    color:var(--t2-baseColor);
}

.container{
    width: 275px;
    height: 65px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: #d9d9d9;
    position: relative;
}

.button{
    background-color: #d2d2d2;
    width: 60px;
    height: 35px;
    border-radius: 200px;
    cursor: pointer;
    position: absolute;
    transition: 0.2s ease;
    right: 10px;
}

.container h3{
    position: absolute;
    left: 0;
    color: var(--font-colorMain);
}

.gameCheck{
    display: none;
}

.gameCheck .button{
    width: 60px;
}

#settings h1{
    text-align: center;
    display: flex;
    justify-content: center;
}

.button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s ease;
}

input:checked + .button{
    background-color: #1a53ff;
}

input:checked + .button::before{
    transform: translateX(25px);
}

input#check, input#check-game, input.toggle-slider{
    display: none;
}

.toggle-menu{
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-menu.menu-open{
    z-index: 5;
}

#confirm-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Lexend", sans-serif;
    border-radius: 5px;
    font-size: 1em;
    width: 10em;
    height: 2.5em;
    background-color: hsl(from var(--background-color) h s calc(l + 15));
    color: var(--font-colorMain);
    border: none;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out, filter 0.25s ease;
    filter: blur(10px);
    cursor: pointer;
}

#small-confirm-btn{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Lexend", sans-serif;
    border-radius: 5px;
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    background-color: hsl(from var(--background-color) h s calc(l + 15));
    color: white;
    border: none;
    cursor: pointer;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out, filter 0.25s ease;
    filter: blur(10px);
    pointer-events: none;
}

#small-confirm-btn > svg{
    margin: 0;
    padding: 0;
}

#small-confirm-btn > svg > path{
    fill: var(--font-colorMain);
}

#confirm-btn.showBtn, #small-confirm-btn.showBtn{
    transform: translateY(0);
    opacity: 1;
    filter: none;
    pointer-events: all;
}

#confirm-btn > svg{
    margin: 0;
    padding: 0;
    stroke: white;
    fill: white;
    width: 1.5rem;
    height: 1.5rem;
}

#confirm-btn > svg > *{
    stroke: white;
    fill: white;
}

.nav-toggle{
    position: relative;
    inset: 0;
    width: 3em;
    height: 3em;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: hsl(from var(--background-color) h s calc(l + 30) / 0.5);
    cursor: pointer;
    z-index: 5;
}

.hbg-menu{
    display: block;
}

.hbg-menu,
.hbg-menu::after,
.hbg-menu::before{
    position: relative;
    width: 2em;
    border-radius: 10px;
    height: 3px;
    background-color: var(--font-colorMain);
    transition: transform 0.25s ease;
    left: 6.5px;
}

.hbg-menu::after,
.hbg-menu::before{
    content: '';
    position: absolute;
    left: 0;
}

.hbg-menu::before{
    bottom: 8px;
}

.hbg-menu::after{
    top: 8px;
}

.menu-open .hbg-menu{
    transform: rotate(45deg);
}

.menu-open .hbg-menu::after{
    transform: rotate(90deg) translate(-8px);
}

.menu-open .hbg-menu::before{
    opacity: 0;
}

#settings-button{
    margin: 0;
    padding: 0;
}

.menu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: hsl(from var(--background-color) h s l / 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease, filter 0.3s ease-in-out;
    transition-timing-function: linear(0, 0.162 3.4%, 0.292 6.6%, 0.409 10%, 0.514 13.7%, 0.607 17.7%, 0.686 21.9%, 0.754 26.5%, 0.812 31.6%, 0.858 36.9%, 0.896 42.7%, 0.949 56.4%, 0.98 74.2%, 1);
    transform: translateY(-100%);
    z-index: 1;
    filter: blur(10px);
    overflow-x: hidden;
}

.menu.menu-open{
    opacity: 1;
    transform: translateY(0);
    filter: none;
}

.menu-content{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.25s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
}

.menu-content-open{
    transform: translateY(0);
    opacity: 1;
}

.logo{
    display: block;
}

#logo-img{
    position: absolute;
    height: 5em;
    width: 5em;
    left: 15px;
}

#button-container::before{
    content: '';
    position: absolute;
    background-color: white;
    height: 2px;
    width: 275px;
    border-radius: 2px;
}

#button-container{
    display: flex;
    justify-content: space-around;
    position: relative;
}

#button-container button{
    margin-top: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: hsl(from var(--background-color) h s calc(l + 15) / 0.7);
    border: 1.5px #3335 solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#back{
    background-color: hsl(from var(--background-color) h s calc(l + 15));
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 1rem;
    z-index: 10;
    cursor: pointer;
}

#back svg{
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--font-colorMain);
    stroke: var(--font-colorMain);
}

#themes{
    width: 5rem;
    aspect-ratio: 1;
}

#themes svg{
    margin: 0;
    height: 3rem;
    width: 3rem;
    stroke: var(--font-colorMain);
    fill: #fff;
}

#themes:hover{
    background-color: hsl(from var(--background-color) h s calc(l + 20) / 0.7);
}

#back:hover{
    background-color: hsl(from var(--background-color) h s calc(l + 25));
}

#themes:active, #back:active{
    box-shadow: 0px 0px 26px -14px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 26px -14px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 26px -14px rgba(0,0,0,0.75) inset;
}

#settings{
    position: absolute;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

#settings.themes-open{
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(-100vw);
    opacity: 0;
}

#backgrounds, #presets{
    background-color: hsl(from var(--background-color) h s calc(l + 20) / 0.6);
}

.themes-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    width: 100vw;
    height: 50vh;
    transform: translateX(100vw);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.theme-container{
    display: grid;
    gap: 1rem;
    max-height: 90dvh;
    min-width: 50dvw;
    /* place-items: center; */
}

#single-themes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    background-color: hsl(from var(--background-color) h s calc(l + 20) / 0.6);
}

.section-title{
    text-align: center;
    grid-column: 1 / -1;
    color: var(--font-colorMain);
}

.custom.colorBtns{
    display: grid;
    grid-template-columns: 25% 25%;
    place-items: center;
    place-content: center;
    background-color: hsl(from var(--background-color) h s l / 0.3);
}

.custom.colorBtns button{
    margin-bottom: 0.75rem;
}

.colorBtns button{
    outline: 0px solid black;
    outline-offset: -1px;
}

.colorBtns button:hover{
    outline-width: 3px;
    outline-color: #000;
    outline-offset: 0;
    transition: outline 0.1s;
}


#single-themes .themeTitle{
    grid-column: 1  / -1;
}

.team-1-themes, .team-2-themes{
    border: 2px solid var(--font-colorMain);
    border-radius: inherit;

}

.themes-menu.openThemes{
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}

.theme-sections{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.theme-sections > *{
    flex-grow: 1;
}

.themes-menu section{
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;

}

.themeTitle{
    text-align: center;
    color: var(--font-colorMain);
    margin: 0;
    padding: 10px;
}

#themeMenuTitle{
    font-size: 2rem;
    background-color: hsl(from var(--background-color) h s calc(l + 20) / 0.6);
    border: 2px solid #fff;
    border-radius: 0.3rem;
}

.themes-menu section button{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: hsl(from var(--background-color) h s calc(l + 15));
    border: none;
    border-radius: 10px;
    position: relative;
}

.themes-menu section button::after{
    content: url('/public/images/checkmark.svg');
    position: absolute;
    background-color: hsl(from #000 h s l / 0.3);
    width: 100%;
    max-height: calc(100% - 1rem);
    aspect-ratio: 1;
    display: none;
    inset: 0;
    border-radius: inherit;
    padding-top: 1rem;
}

.themes-menu .current-theme::after{
    display: block;
}

.theme-menu-header{
    width: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.reset-themes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 3rem;
    height: 2.5rem;
    background-color: hsl(from var(--background-color) h s calc(l + 15));
    color: white;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
}

.reset-themes:hover{
    background-color: hsl(from var(--background-color) h s calc(l + 5));
}

.reset-themes svg{
    margin: 0;
    padding: 0;
    fill: var(--font-colorMain);
}

#backgrounds, #presets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media queries */

@media (max-width: 920px){

    #themeMenuTitle{
        font-size: 1.75rem;
    }

    .themeTitle{
        font-size: 1.25rem;
    }

    .themes-menu section button{
        width: 2.5rem;
        height: 2.5rem;
    }

    .themes-menu section button::after{
        max-height: calc(100% - 0.75rem);
        padding-top: 0.75rem;
    }
}

@media (max-width: 800px){
    .theme-sections{
        flex-direction: column;
    }

    .theme-container{
        min-height: 90vh;
    }

    #themeMenuTitle{  
        margin-top: 0rem;
    }

    #single-themes{
        grid-template-columns: 1fr;
        padding: 15px 5px 5px ;
    }

    .custom.colorBtns{
        grid-template-columns: repeat(5, 1fr);
        /* gap: 0.5rem; */
    }
}

@media (max-width: 620px){
    body{
        overflow-x: hidden;
    }

    .form-box{
        display: none;
    }

    .gameCheck{
        display: block;
    }

    .totalScore{
        display: none;
    }

    .score-nav{
        padding-top: 0;
    }

    .title h2{
        margin: 25px 0;
        font-size: 2rem;
    }

    .title svg{
        margin-top: 25px;
    }

    .player-card{
        max-width: 90vw;
    }

    #kick-buttons button, #score-buttons button{
        font-size: 1.1rem;
    }

    #points{
        display: block !important;
        width: 17em;
        text-align: center;
    }

    #button-container button{
        width: 3rem;
        height: 3rem;
    }

    .toggle-menu{
        flex-direction: column;
    }

    #confirm-btn{
        display: none;
    }

    #small-confirm-btn{
        display: flex;
    }

    #showCounter{
        display: none;
    }
}

@media (max-width: 605px){
    #score-buttons{
        width: 75%;
    }
}

@media (max-width: 510px){
    #score-buttons{
        width: 90%;
    }

    #game-play{
        gap: 0px;
    }

    #team-1, #team-2{
        margin: 15px;
    }

    #initGame{
        padding-bottom: 10px;
        padding-top: 5px;
    }

    h1{
        margin-block: 15px;
    }

    #points{
        margin-bottom: 15px;
    }
}

@media (max-width: 470px){
    header h1{
        display: none;
    }

    #points{
        display: block !important;
    }

    .menu h1{
        display: block;
    }

    #game-play{
        margin-top: 5px;
    }

    #initGame{
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    #logo-img{
        left: 8px;
        width: 4em;
        height: 4em;
    }

    #kick-buttons button, #score-buttons button{
        font-size: 1rem;
    }
}

@media (max-width: 420px){
    .initButtons{
        font-size: 0.8em;
        text-align: center;
    }
}

@media (max-width: 410px){
    .title h2{
        margin: 25px 0;
        font-size: 1.5rem;
    }

    .title svg{
        margin-top: 25px;
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 370px){
    #kick-buttons button, #score-buttons button{
        font-size: 0.9rem;
    }

    #score-buttons{
        width: 100%;
    }
}

@media (max-width: 360px){
    .form-box{
        transform: scale(0.9);
    }

    header h1{
        font-size: 25px 
    }

    #initGame{
        transform: scale(0.9);
    }

    .player-card{
        width: 90vw;
    }

    #scoreButtons button{
        font-size: 1.5rem;
    }
}

@media (max-width: 320px){
    header h1{
        font-size: 25px;
    }

    .form-box{
        transform: scale(0.8);
    }

    .modal-content{
        width: 90%;
    }
}

@media (max-width: 315px){
    .initButtons{
        font-size: 11px;
    }

    .player-card{
        width: 90%;
    }

    #score-buttons button{
        font-size: 1rem;
    }
}




